.lang
   .lang-list
       a(href='#').lang-list__item RU
       a(href='#').lang-list__item.lang-active UA
       a(href='#').lang-list__item EN
a(href='/').logo
    img(src='/wp-content/themes/vernadskiy/assets/images/icon/Logo.svg')
.tel
    a(href='0442202222').tel__link
        +svg('phone').tel__icon
        |(044)220-22-22
.burger.js-burger
   span
   span
   span