.lang
   .lang-list
       a(href='#').lang-list__item.lang-active UA
       a(href='#').lang-list__item RU
       a(href='#').lang-list__item EN
a(href='#')
    img(src='/assets/images/icon/Logo.svg')
.tel
    +svg('phone').tel__icon
    a(href='0442202222').tel__link (044)220-22-22
.burger
   span
   span
   span