.menu.js-menu.no-scroll
    .menu__bg
    .menu__header
        .lang
            .lang-list
                a(href='#').lang-list__item RU
                a(href='#').lang-list__item.lang-active UA
                a(href='#').lang-list__item EN
        a(href='#').menu__header-logo
            img(src='/wp-content/themes/vernadsky/assets/images/icon/Logo.svg')
        .menu__close.js-close
    .menu__list
        each el in menu
            if(el.group)
                .menu__block
                    .menu__list-title= el.group
                    ul
                        each link in el.list
                            li.menu__elem
                                a(href= link.href+'.html' class='menu__link')= link.name
            else
                .menu__block.menu__block-big
                    ul
                        each link in el.list
                            li.menu__elem
                                a(href= link.href+'.html' class='menu__link')= link.name
    .menu__footer
        a(href="0442222020").menu__footer__block
            .menu__footer__icon
                +svg('phone').menu__footer__icon-phone
            .menu__footer__block-phone (044) 222-20-20
        a(href="#").menu__footer__block
            .menu__footer__icon
                +svg('instagram').menu__footer__icon-instagram
            .menu__footer__social Instagram
        a(href="#").menu__footer__block
            .menu__footer__icon
                +svg('fb').menu__footer__icon-fb
            .menu__footer__social Facebook
        .menu__footer__block
            a(href="#").js-call.menu__footer__call Зворотній дзвінок