// Global class
.wow:not(#some){
	opacity: 0;
}

.text-stroke{
	color: transparent;
	-webkit-text-stroke: 2px $wc;
}


.wrap{
	position: relative;
}

.tabs--active{
	display: inline-block!important;
	opacity: 1!important;
}

.icon{
	&--phone{
		height: 24px;
		width: 18px;
		stroke: $mc2;
		fill: transparent;
	}
	&--fb{
		height: 14px;
		width: 8px;
		fill: transparent;
	}
	&--instagram{
		height: 12px;
		width: 12px;
		fill: transparent;
	}
	&--mouse{
		height: 24px;
		width: 15px;
		fill: transparent;
	}
	&--Webcam{
		height: 19px;
		width: 17px;
	}
	&--key{
		height: 19px;
		width: 18px;
	}
	&--fishka{
		height: 26px;
		width: 28px;
		fill: transparent;
	}
	&--point{
		height: 16px;
		width: 13px;
		fill: transparent;
	}
	&--smarto{
		height: 28px;
		width: 70px;
		fill: transparent;
	}
}


@media screen and (max-width: 767px){
	.icon{
		&--mouse{
			height: 15px;
			width: 10px;
		}
		&--fishka{
			height: 16px;
			width: 18px;
		}
		&--smarto{
			height: 22px;
			width: 56px;
		}
	}
}
