// BREADCRUMBS
.breadcrumb {
  z-index: 6000;
  padding: 10px 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  letter-spacing: 0.32px;

  &__el {
    position: relative;
    margin: 0 0;
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    * {
      position: relative;
      padding: 0 20px;
      @include to(768px) {
        font-size: 14px;
        padding: 0 15px 0;
      }
      @include to(480px) {
        font-size: 12px;
        padding: 0 10px 0;
      }
      text-decoration: none;
    }
    a{
      color: $text;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 11px;
      height: 16px;
      background: url("../../assets/images/icon/leaf-breadcrumbs.svg") no-repeat center /contain;
      transform: translate(-50%, -50%);
      content: '';
    }

  }
  &__el:nth-child(1) {
    * {
      padding-left: 0;
    }

    &::before {
      display: none;
    }
  }
}

//lang
.lang,.header .menu .lang {
  position: relative;
  @include flexCenter();
  justify-content: flex-start;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: visible;
  color: $text-black;
  background: $mc1;
  width: 96px;
  height: 100%;

  &-active {
    position: relative;
    width: 100%;
    flex: 0 0 54px;
    order: -1;
    @include flexCenter();
    cursor: pointer;
    z-index: 2;
    visibility: visible;

    .lang-item-arrow {
      display: inline-block !important;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96px;
    flex-shrink: 0;
    background: $mc1;
    overflow: hidden;
    padding: 9px;
    border-radius: 50px;
    transition: height 0.2s ease-in, border-radius .15s linear 0.2s;

    &__item {
      @include flexCenter();
      height: 78px;
      width: 100%;
      text-decoration: none;
      flex: 0 0 auto;
      color: $text-black;
      opacity: 0;
      transition: color 0.3s linear, opacity 0.5s ease-in-out;
      &.lang-active {
        visibility: visible;
        opacity: 1;
        color: $text-black;
        &::after{
          content: '';
          display: flex;
          height: 5px;
          width: 5px;
          margin-left: 5px;
          border: 5px solid transparent;
          border-top: 5px solid $mc2;
        }
      }

      .lang-item-arrow {
        display: none;
        transition: all 0.2s ease;
      }

    }
  }

  &-item {
    text-transform: uppercase;

    &-arrow {
      margin-left: 5px;
    }
  }

  &:hover {
    .lang-list {
      height: 250px;
      border-radius: 0;
      &__item {
        visibility: visible;
        opacity: 1;
      }

    }

    .lang-active .lang-item-arrow {
      transform: rotate(180deg);
    }
  }

}

// BUTTON
.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  text-align: center;
  color: $text;
  font-size: 14px;
  font-family: $default-font;
  font-weight: 500;
  line-height: 1.5em;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  z-index: 2;
  &:hover{
    background-position: 0;
  }
}


.hidden {
  visibility: hidden;
}


