$default-font: "Manrope",
sans-serif;
$default-font2: "Manrope",
sans-serif;
$mc: #b6b3b0;


$text: #ffffff;
$text-light-1: #F3EDEC;
$text-light-2: #D8DFDF;
$text-dark: #C2A7A1;
$text-dark-2:#7A7979;
$text-dark-3:#5B5A5A;
$text-black: #323131;

$mc1: #C2A7A1;
$mc2: #323131;
$mc3: #3B5F60;
$mc4: #ABB2B2;
$mc5: #292929;

$wc: #ffffff;
$bc: #000;

$padding-wrap: 45px;
$padding-wrap--small: 20px;

$--bg : #71A461;
$--bg-opacity : rgba(113,164,97, 0.6);

$header-height: 50px;
