$default-font: "Manrnore",
sans-serif;
$default-font2: "Montserrat",
sans-serif;
$mc: #b6b3b0;


$text: #ffffff;
$text-light-1: #F3EDEC;
$text-light-2: #D8DFDF;
$text-dark: #C2A7A1;
$text-black: #323131;

$mc1: #C2A7A1;
$mc2: #323131;
$mc3: #3B5F60;
$mc4: #ABB2B2;

$wc: #ffffff;
$bc: #000;

$padding-wrap: 45px;
$padding-wrap--small: 20px;

$--bg : #71A461;
$--bg-opacity : rgba(113,164,97, 0.6);


