.about{
  position: relative;
  display: inline-block;
  width: 100%;
  //min-height: 100vh;
  //padding: var(--padding-wrap) 0;
  &__text{
    font-family: "Manrope";
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #7E8888;
  }
  .title{
    display: none;
  }
}


@media screen and (min-width: 1600px){
  .about{
    &__text{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &__content{
      width: 42%;
    }
  }
}

@media screen and (min-width: 1900px){
  .about{
    &__text{
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1023px){
  .about{
    padding: 64px 64px;
  }
}

@media screen and (max-width: 768px){
  .about{
    padding: 40px;
  }
}

