.footer{
  	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 0 96px;
	margin: 0;
	z-index: 88;
	font-size: 0.735vw;
	background: $mc5;
	&__top{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 60px 45px;
		border: 1px solid $mc2;
		border-top: none;
	}
	&__middle{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 35px 45px;
		border: 1px solid $mc2;
		border-top: none;
	}
	&__elem{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		flex: 0 1 18.6%;
		&-point{
			margin-left: 10px;
			font-weight: 500;
			font-size: 1.4em;
			line-height: 2em;
			text-decoration: none;
			color: $text-dark-3;
		}
		&-phone{
			margin-left: 10px;
			font-weight: 500;
			font-size: 1.4em;
			line-height: 2em;
			text-decoration: none;
			color: $text-dark-3;
		}
	}
	&__social{
		 font-weight: bold;
		 font-size: 1em;
		 line-height: 2em;
		 letter-spacing: 0.1em;
		 text-transform: uppercase;
		text-decoration: none;
		 color: $text-dark-3;
		 margin: 0 9px;
	 }
	&__call{
		padding: 0 20% 0 0;
		font-weight: 600;
		font-size: 2.4em;
		line-height: 1.4em;
		color: $text-dark;
		&::after{
			content: '';
			display: inline-block;
			width: 20px;
			height: 10px;
			margin-left: 10px;
			border-left: 10px solid $text-dark;
			border-right: 10px solid transparent;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
		}

	}
	&__icon-phone{
		stroke: #5B5A5A;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 35px 45px;
		border: 1px solid $mc2;
		border-top: none;
	}
	&__copy{
		font-weight: bold;
		font-size: 1em;
		line-height: 2em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $text-dark-3;
	}
	&__smarto{
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 1em;
		line-height: 2em;
		text-align: right;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $text-dark-3;
		span{
			margin-right: 10px;
		}
	}
	&__small{
		position: absolute;
		bottom: 0;
		left: 0	;
		background: transparent;
		visibility: hidden;
		&.active{
			visibility: visible;
		}
		.footer__top{
			display: none;
		}
		.footer__middle{
			display: none;
		}
		.footer__bottom{
			border: none;
		}
	}
}

