.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: $wc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 200;
	transition: all 0.6s cubic-bezier(.09,.37,0,.55);
	.tel{
		position: absolute;
		right: 160px;
	}
	&.no-scroll{
		height: 96px;
		background: transparent;
		.logo img{
			height: 50px;
		}
	}
}
.logo img{
	height: 35px;
}

.burger{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 96px;
	background: $bc;
	@include flexCenter();
	span{
		width: 25%;
		height: 1px;
		background: $wc;
		margin-bottom: 7px;
		transition: transform 0.4s cubic-bezier(0.74, 0.01, 0.36, 0.99);

		&:nth-child(1){
			transform-origin: right;
			transform: scale(1);
		}
		&:nth-child(2){
			transform-origin: left;
			transform: scale(1);
		}
		&:nth-child(3){
			//width: 15%;
			transform-origin: right;
			margin: 0;
			transform: translate(40% ,0)scale(0.6,1);
		}
	}
	&:hover{
		span:nth-child(1){
			transform: scale(1.2 ,1);
		}
		 span:nth-child(2){
			transform: scale(1.2 ,1);
		}
		 span:nth-child(3){
			transform: translate( 0 ,0)scale(1.2 ,1);
		}
	}
}
.tel{
	display: flex;
	align-items: center;
	&__icon{
		margin-right: 10px;
	}
	&__link{
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $text-black;
		font-family: $default-font;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		&:hover{
			color: green;
			svg{
				stroke: green;
			}
		}
	}
}