.active {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   opacity: 1
 }
 .close {
   position: absolute;
   top: 0;
   right: 10px;
   display: inline-block;
   width: 30px;
   height: 30px;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   z-index: 120;
   &:hover::after {
     transform: translateX(-50%)rotate(-45deg) scale(1.2)
   }

   &:hover::before {
     transform: translateX(-50%)rotate(45deg) scale(1.2)
   }

   &:hover::before,&:hover::after {
     background: #8fac5c;
   }

   &::before,&::after {
     content: "";
     position: absolute;
     height: 1px;
     width: 50%;
     top: 50%;
     left: 50%;
     margin-top: -1px;
     transition: .3s all linear;
   }

   &::before {
     transform: translateX(-50%)rotate(45deg)
   }
   &::after {
     transform: translateX(-50%)rotate(-45deg)
   }
 }


.main{
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr;
  //height: 100vh;
  font-size: 0.735vw;
}
.wb{
  &-1{
    position: relative;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    background: $wc;
    height: 100vh;
    visibility: hidden;
    z-index: 1;
    &__bg{
      &-video{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        clip-path: polygon(0% 50%, 100% 0%, 100% 45%, 0% 100%);
        z-index: -2;
        img{
          height: 100%;
        }
      }
      &-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
        height: 100%;
        width: calc(100% - 192px);
        margin: 0 auto;
        object-fit: contain;
        object-position: 100% 100%;
        z-index: -1;

      }

    }
    &__left{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 96px;
      height: 100%;
      border-right: 1px solid $mc4;
    }
    &__right{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 96px;
      height: 100%;
      margin-left: auto;
      border-left: 1px solid $mc4;
    }
    &__content{
      display: inline-block;
      flex: 0 1 0;
      padding: 30px 44px;
      background: $mc3;
      margin: auto auto 0 0;
    }
    &__title{
      font-family: $default-font;
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.5em;
      color: $text-light-1;
      margin-bottom: 20px;
    }
    &__link{
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.3em;
      color: $text-dark;
      text-decoration: none;
      white-space: nowrap;
      &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-left: 20px;
        border-left: 10px solid $text-dark;
        border-right: 10px solid transparent;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
    &__mouse{
      @include flexCenter();
      width: 100%;
      height: 96px;
      margin-top: auto;
      background: $mc2;
    }
    &__fishka{
      @include flexCenter();
      width: 100%;
      height: 96px;
      background: $mc1;
    }
    &__icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50%;
      &__link{
        @include flexCenter();
        height: 40px;
        width: 40px;
        border: 1px solid rgba(50,49,49,0.2);
        border-radius: 50%;
        margin: 10px 0;
      }
    }
  }
  &-2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background: $mc3;
    grid-row: 1;
    grid-column: 1;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    &__title{
      font-weight: 800;
      font-size: 4.8em;
      line-height: 1.3em;
      color: $text-light-2;
      transform: translate(-50px,0);
      margin-bottom: 20px;
    }
    &__text{
      position: relative;
      font-weight: normal;
      font-size: 1.4em;
      line-height: 1.5em;
      color: $text-light-2;
      margin-bottom: 60px;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: -50px;
        width: 30px;
        height: 3px;
        background: linear-gradient(90deg, #C2A7A1 50%, #7E8888 50%);
      }
      span{
        display: inline-block;
        margin-bottom: 1em;
        &:nth-last-child(1){
          margin: 0;
        }
      }
    }
    &__link{
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.3em;
      color: $text-dark;
      text-decoration: none;
      white-space: nowrap;
      &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-left: 20px;
        border-left: 10px solid $text-dark;
        border-right: 10px solid transparent;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
    &__bg{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      svg{
        height: 100%;
        width: 100%;
        display: inline-block;
        object-fit: contain;
        .long{
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
        }
        .short{
          stroke-dasharray: 1300;
          stroke-dashoffset: 1300;
        }
        .circle{
          stroke-dasharray: 2500;
          stroke-dashoffset: 2500;
        }
        rect{
          opacity: 0;
          transition: opacity 0.3s linear 4s;
        }
      }
    }
    &__fishka{
      @include flexCenter();
      width: 50%;
      svg{
        width: 50%;
        //path{
        //  stroke: #00dd1c;
        //  stroke-width: 2;
        //  stroke-dasharray: 1500;
        //  stroke-dashoffset: 1500;
        //}
      }
      .fishka-3{
        transition:d 0.5s ease-in 2.8s;
      }

    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 50px 17% 50px 12%;
      opacity: 0;
      transition: opacity 0.4s ease-in 3.5s;
      //transform: translate(100%,0);
    }
  }
  &-3{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
    position: relative;
    grid-row: 1;
    grid-column: 1;
    visibility: hidden;
    z-index: 3;
    &__line{
      position: absolute;
      top: 0;
      left: 15%;
      transform: translate(0 , -50%);
      display: inline-block;
      width: 2px;
      height: 90px;
      background: linear-gradient(0, #7E8888 50%, #C2A7A1 50%);
    }
    &__img{
      &-1{
        grid-column: 1;
        grid-row: 1;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &-2{
        grid-column: 2;
        grid-row: 1 /span 2;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 38%;
      min-width: 260px;
      margin: 0 auto;
      padding: 50px auto 50px auto;
      background: $wc;
      &-wrap{
        grid-column: 1;
        grid-row: 2;
        position: relative;
        @include flexCenter();
        width: 100%;
      }
    }
    &__title{
      font-weight: 800;
      font-size: 4.8em;
      line-height: 1.3em;
      color: $text-black;
      transform: translate(-50px,0);
      margin-bottom: 20px;
    }
    &__text{
      position: relative;
      font-weight: normal;
      font-size: 1.4em;
      line-height: 1.5em;
      color: $text-dark-2;
      margin-bottom: 50px;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: -50px;
        width: 30px;
        height: 3px;
        background: linear-gradient(90deg, #C2A7A1 50%, #7E8888 50%);
      }
      span{
        display: inline-block;
        margin-bottom: 1em;
        &:nth-last-child(1){
          margin: 0;
        }
      }
    }
    &__link{
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.3em;
      color: $text-dark;
      text-decoration: none;
      white-space: nowrap;
      &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-left: 20px;
        border-left: 10px solid $text-dark;
        border-right: 10px solid transparent;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
    &__logo{
      grid-column: 2;
      grid-row: 2;
      z-index: 5;
      @include flexCenter();
      height: 51px;
      width: 51px;
      border-radius: 50%;
      border: 1px solid $mc2;
      transform: translate(-50%, -50%);
    }
  }
  &-4{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 28% 27%;
    position: relative;
    grid-row: 1;
    grid-column: 1;
    visibility: hidden;
    z-index: 4;
    &__line{
      position: absolute;
      top: 0;
      left: 85%;
      transform: translate(0 , -50%);
      display: inline-block;
      width: 2px;
      height: 100px;
      background: linear-gradient(0 , #7E8888 50%, #C2A7A1 50%);
    }
    &__img{
      &-1{
        grid-column: 1;
        grid-row: 1 /span 2;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &-2{
        grid-column: 2;
        grid-row: 1;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      &-3{
        width: 50%;
      }
    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 38%;
      min-width: 260px;
      margin: 0 auto;
      padding: 50px auto 50px auto;
      background: $wc;
      &-wrap{
        position: relative;
        grid-column: 2;
        grid-row: 2 / span 3;
        @include flexCenter();
        width: 100%;
      }
    }
    &__title{
      font-weight: 800;
      font-size: 4.8em;
      line-height: 1.3em;
      color: $text-black;
      transform: translate(-50px,0);
      margin-bottom: 20px;
    }
    &__text{
      position: relative;
      font-weight: normal;
      font-size: 1.4em;
      line-height: 1.5em;
      color: $text-dark-2;
      margin-bottom: 50px;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: -50px;
        width: 30px;
        height: 3px;
        background: linear-gradient(90deg, #C2A7A1 50%, #7E8888 50%);
      }
      span{
        display: inline-block;
        margin-bottom: 1em;
        &:nth-last-child(1){
          margin: 0;
        }
      }
    }
    &__link{
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.3em;
      color: $text-dark;
      text-decoration: none;
      white-space: nowrap;
      &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-left: 20px;
        border-left: 10px solid $text-dark;
        border-right: 10px solid transparent;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
    &__logo{
      grid-column: 2;
      grid-row: 2;
      z-index: 5;
      @include flexCenter();
      height: 51px;
      width: 51px;
      border-radius: 50%;
      border: 1px solid $mc2;
      transform: translate(-50%, -50%);
    }
    &__comerc{
      grid-column: 1;
      grid-row: 3;
      display: flex;
      background: $mc3;
      img{
        height: 100%;
      }
    }
    &__left-link{
      width: 50%;
      padding: 0 10%;
      margin: auto 0;
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.3em;
      color: $text-dark;
      text-decoration: none;
      white-space: pre-wrap;
      &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-left: 20px;
        border-left: 10px solid $text-dark;
        border-right: 10px solid transparent;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
  }
  &-5{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    grid-row: 1;
    grid-column: 1;
    background: $mc2;
    visibility: hidden;
    z-index: 5;
    &__title{
      font-weight: 800;
      font-size: 4.8em;
      line-height: 1.3em;
      color: $text-light-2;
      transform: translate(-50px,0);
      margin-bottom: 20px;
    }
    &__text{
      position: relative;
      font-weight: normal;
      font-size: 1.4em;
      line-height: 1.5em;
      color: $text-light-2;
      margin-bottom: 60px;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: -50px;
        width: 30px;
        height: 3px;
        background: linear-gradient(90deg, #C2A7A1 50%, #7E8888 50%);
      }
      span{
        display: inline-block;
        margin-bottom: 1em;
        &:nth-last-child(1){
          margin: 0;
        }
      }
    }
    &__link{
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.3em;
      color: $text-dark;
      text-decoration: none;
      white-space: nowrap;
      &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-left: 20px;
        border-left: 10px solid $text-dark;
        border-right: 10px solid transparent;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
    &__bg{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      svg{
        height: 100%;
        width: 100%;
        display: inline-block;
        object-fit: contain;
      }
    }
    &__fishka{
      z-index: 3;
      @include flexCenter();
      width: 50%;
      svg{
        width: 50%;
      }
    }
    &__forms{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: inherit;
      padding: 50px 17% 50px 12%;
      z-index: 5;
      flex: 0 1 0;
      &-title{
        font-weight: 800;
        font-size: 4.8em;
        line-height: 1.3em;
        color: $text-black;
        white-space: nowrap;
        margin-bottom: 10px;
      }
    }
    &__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      &-legend{
        position: relative;
        font-weight: 500;
        font-size: 1.8em;
        line-height: 1.3em;
        color: $text-dark-3;
        margin-bottom: 20px;
        &:before {
          content: '';
          position: absolute;
          top: 12px;
          left: -50px;
          width: 30px;
          height: 3px;
          background: linear-gradient(90deg, #C2A7A1 50%, #7E8888 50%);
        }
      }
      &-label{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #7A7979;
        input{
          background: transparent;
          border: none;
          font-weight: normal;
          font-size: 1.4em;
          line-height: 1.6em;
          color: $text-dark-2;
        }
      }
      &-user{
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -50px;
          display: inline-block;
          height: 16px;
          width: 15px;
          background: url('../images/icon/user.svg');
        }
      }
      &-mail{
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -50px;
          display: inline-block;
          height: 11px;
          width: 15px;
          background: url("../images/icon/mail.svg");
        }
      }
      &-message{
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -50px;
          display: inline-block;
          height: 13px;
          width: 15px;
          background: url("../images/icon/message.svg");
        }
      }
      &-button{
        display: inline-block;
        font-weight: 600;
        font-size: 2.4em;
        line-height: 1.3em;
        color: $text-dark;
        text-decoration: none;
        white-space: nowrap;
        background: none;
        border: none;
        margin: 0 auto 0 0;
        &::after{
          content: '';
          display: inline-block;
          width: 20px;
          height: 18px;
          margin-left: 20px;
          border-left: 10px solid $text-dark;
          border-right: 10px solid transparent;
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
        }
      }
    }
    &__img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      clip-path: polygon(0% 50%, 100% 0%, 100% 50%, 0% 100%);;
      img{
        height: 100%;
        object-fit: cover;
        object-position: 0 95%;
      }
    }
  }
}
.wb-active {
  opacity: 1;
  visibility: visible;
  .wb-2{
    &__bg{
      svg{
        .long{
          animation: svg-line-long 0.7s ease-in-out 0.2s forwards;
        }
        .short{
          animation: svg-line-short 0.9s ease-out 0.3s forwards;
        }
        .circle{
          animation: svg-line-circle 0.7s linear 1s forwards;
        }
        rect{
          opacity: 1;
        }
      }
    }
    &__fishka{
      svg{
        .fishka-1{
          d: path('M279.574 143.747C286.375 150.549 290.038 159.966 290.038 169.384C290.038 178.801 286.375 188.219 279.574 195.02C272.772 201.822 263.355 205.484 253.938 205.484C244.52 205.484 235.103 201.822 228.301 195.02C221.5 188.219 217.837 179.324 217.837 169.384V168.337H233.533V169.384C233.533 180.894 242.951 189.788 253.938 189.788C264.925 189.788 274.342 180.371 274.342 169.384C274.342 158.397 264.925 148.979 253.938 148.979C250.275 148.979 246.613 150.026 243.474 151.595L233.533 143.224L259.169 111.309H217.314V95.6137H292.131L260.739 134.33C268.064 135.376 274.342 139.039 279.574 143.747Z');
        }
        .fishka-2{
          d: path('M387.875 204.446H304.164C304.164 204.446 328.231 176.194 340.264 162.068C346.543 154.743 353.344 147.941 359.099 140.094C362.238 135.908 364.854 130.676 363.808 125.444C362.762 120.736 359.623 118.12 357.007 116.027C353.344 113.411 349.159 112.364 344.973 112.364C332.94 112.364 322.999 122.305 322.999 134.338H304.687C304.687 123.875 308.873 113.411 316.198 106.086C324.045 98.7615 333.986 94.5759 344.45 94.5759C352.298 94.5759 360.669 97.1919 366.947 101.377C374.272 106.609 379.504 113.934 381.073 121.782C382.643 129.63 381.597 137.478 377.411 144.802C373.226 152.65 366.947 158.929 361.192 165.73L342.357 187.704H387.875V204.446Z');
        }
        .fishka-3{
          transition:d 0.5s ease-in 0.8s;
           d: path('M66.112 0.924075 L209.467 286.587 L176.505 351.986 L0.713074 0.924075H66.112Z');
         }
        .fishka-4{
          d: path('M317.244 45.1903L291.084 0.718964H342.88L317.244 45.1903Z');
        }
      }
    }
    &__content{
      opacity: 1;
    }
  }
}

.wb-active-end{
  visibility: visible;
  .wb-2{
    &__bg{
      svg{
        .long{
          animation: svg-line-long-reverse 1.5s forwards;
        }
        .short{
          animation: svg-line-short-reverse 1.5s forwards;
        }
        .circle{
          animation: svg-line-circle-reverse 1.5s forwards;
        }
        rect{
          transition: opacity 0.3s linear 1s;
          opacity: 0!important;
        }
      }
    }
    &__fishka{
      svg{
        .fishka-1{
          d: insert;
        }
        .fishka-2{
          d: insert;
        }
        .fishka-3{
          d: path("M33 0.924075 L193 319 L193 319 L33 0.924075 H33Z");
        }
        .fishka-4{
          d: path("M317.244 45.1903L291.084 0.718964H342.88L317.244 45.1903Z");
        }
      }
    }
    &__content{
      opacity: 1;
    }
  }
}
