.wrap-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #386A7E, #3286A8 );
  z-index: 199;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding: 100px 30px 0;
  transition: all 0.4s ease-in;
  &.active{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 40px 0;
  &__list{
    flex: 0 1 18.6%;
    &-title{
      color: #7E8888;
      margin-bottom: 1em;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1em;
      line-height: 2em;
      letter-spacing: 0.1em;
    }
  }
  &__link{
    a{
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1.6em;
      color: $text-dark-3;
      text-decoration: none;

    }

  }
}