.payment{
  //position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  height: initial;

  &__text{
    font-family: "Manrope";
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #7E8888;
  }
  &__link{
    font-size: 24px;
    text-align: left;
  }
  .title{
    display: none;
  }
  &__list{
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    background: linear-gradient(0deg, #F9F9F9, #F9F9F9), #F3EDEC;
    &-title{
      font-family: "Manrope";
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: #323131;
      text-transform: uppercase;
      padding: 15px 20px 0;
      background: linear-gradient(0deg, #F9F9F9, #F9F9F9), #F3EDEC;
    }
    &-el{
      font-family: "Manrope";
      font-size: 14px;
      line-height: 22px;
      color: #323131;
      list-style: disc;
      padding: 0 10px;
      margin-bottom: 5px;
    }
  }

}
@media screen and (min-width: 1600px){
  .payment{
    &__text{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &__content{
      //padding: 30px 0;
      width: 42%;
    }
  }
}
@media screen and (min-width: 1900px){
  .payment{
    &__text{
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 1023px){
  .payment{
    padding-bottom: calc(30px + var(--padding-wrap));
    .title{
      display: block;
      margin: 0 0 0 calc(20px + var(--padding-wrap));
    }
    .beautiful__block .title{
      display: none;
    }
    &__list{
      margin-bottom: 15px;
    }
  }
}